pipeline/pl_sql_to_bronze_incremental.json
{
	"name": "pl_sql_to_bronze_incremental",
	"properties": {
		"activities": [
			{
				"name": "lkp_last_max_dt",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT max(mark_id) as last_max_dt from watermark",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_car_sales",
						"type": "DatasetReference",
						"parameters": {
							"table_name": "watermark"
						}
					}
				}
			},
			{
				"name": "lkp_current_max_dt",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT MAX ([Date_ID]) AS current_max_dt FROM [dbo].[source_cars_data]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_car_sales",
						"type": "DatasetReference",
						"parameters": {
							"table_name": "watermark"
						}
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "lkp_current_max_dt",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "lkp_last_max_dt",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(\n    activity('lkp_current_max_dt').output.firstRow.current_max_dt,\n    activity('lkp_last_max_dt').output.firstRow.last_max_dt)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "cp_sql_to_bronze",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT * FROM [dbo].[source_cars_data]\nwhere date_ID > '@{activity('lkp_last_max_dt').output.firstRow.last_max_dt}'  AND Date_ID <= '@{activity('lkp_current_max_dt').output.firstRow.current_max_dt}'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_sql_car_sales",
									"type": "DatasetReference",
									"parameters": {
										"table_name": "source_cars_data"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_car_sales_bronze",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "sp_updatewater_mark",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "cp_sql_to_bronze",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[sp_update_watermark]",
								"storedProcedureParameters": {
									"current_max_updt": {
										"value": {
											"value": "@activity('lkp_current_max_dt').output.firstRow.current_max_dt",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_azure_car_sales",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}